.header__lang-link{
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.16;
  font-weight: normal;
  color: white;
  text-decoration: none;
  /*border: 5px solid red;*/
}

@media screen and (max-width: 680px) {
  .header__lang-link{
    font-size: 18px;
    line-height: 1.1;
  }
} 