.cover__link{ 
  background-image: url(../cover-trains.jpg);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: calc((10/16)*92.5vw);
  display: block;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

@media screen and (max-width: 1190px) { 
  .cover__link{ 
    min-height: calc((10/16)*100vw);
  } 
}   

.cover__link:hover .cover__overlay{ 
  opacity: 80%;
} 


