.cover__link{ 
  background-image: url(../cover-trains.jpg);
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
} 

.cover__link:hover .cover__overlay{ 
  opacity: 80%;
} 


