.photo-grid{
  display: grid;
  max-width: 1184px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  padding-top: 92px;
  justify-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1190px) {
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 14px;
    row-gap: 14px;
    max-width: 928px;
  }
  
} 


@media screen and (max-width: 980px) {
  .photo-grid{
    padding-top: 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    max-width: 720px;
  }
} 

@media screen and (max-width: 750px) {
  .photo-grid{
    padding-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    max-width: 288px;
  }
} 



