.places{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: start;
  padding-top: 92px;
}

@media screen and (max-width: 980px) {
  .places{
    padding-top: 88px;
    
  }
} 

@media screen and (max-width: 680px) {
  .places{
    padding-top: 64px;
    
  }
} 
