.cover__subtitle{ 
  z-index: 4;
  margin: 0 auto;
  padding: 0;
  display: flex;
  text-align: center;
  color: white;
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  opacity: 100%;
  text-decoration: none;
} 
 
 
@media screen and (max-width: 540px) { 
  .cover__subtitle{
    font-size: 14px;
    line-height: 1.15;
    max-width: 260px;
  } 
}  