.header__logo{
  max-width: 176px;
  max-height: 52px;
  justify-self: start;
  /*border: 5px solid red;*/
}

@media screen and (max-width: 680px) {
  .header__logo{
    max-width: 142px;
    max-height: 42px;
  }
} 