.footer__resources{
  justify-content: flex-start;
  max-width: minmax(min-content, max-content);
  font-size: 0;
}

@media screen and (max-width: 680px) {
  .footer__resources{
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
} 