.lead__title{
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
  max-width: 720px;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  color: white;
  text-align: center;
  margin-bottom: 32px;
  /*border: 5px solid red;*/
}

@media screen and (min-width: 1080px) {
  .lead__title{
    padding-top: 56px;
  }
} 



@media screen and (max-width: 680px) {
  .lead__title{
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.1;
    max-width: 288px;
  }
} 
