
.intro{
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
  padding-top: 92px;
  padding-left: 148px;
  max-width: 838px;
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  .intro{
    padding-left: 48px;
    max-width: 738px;
  }
} 

@media screen and (max-width: 980px) {
  .intro{
    max-width: 744px;
    padding-top: 88px;
    padding-left: 24px;
  }
} 

@media screen and (max-width: 600px) {
  .intro{
    max-width: 304px;
    padding-top: 64px;
    padding-left: 30px;
  }
} 

@media screen and (max-width: 480px) {
  .intro{
    padding-left: 16px;
  }
} 