
.intro{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: start;
  padding-top: 92px;
  max-width: 984px;
}

@media screen and (max-width: 1080px) {
  .intro{
    max-width: 928px;
  }
} 

@media screen and (max-width: 980px) {
  .intro{
    max-width: 720px;
    padding-top: 88px;
  }
} 

@media screen and (max-width: 480px) {
  .intro{
    max-width: 288px;
    padding-top: 64px;
  }
} 