.cover{ 
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1184px;
  height: calc((10/16)*92.5vw);
  box-sizing: content-box;
  position: relative;
} 
 
.cover:hover .cover__link{ 
  background-image: linear-gradient(
    rgba(42, 44, 47, 0.8), 
    rgba(42, 44, 47, 0.8)
  ),
  url(cover-trains.jpg);
} 
 
@media screen and (max-width: 1184px) { 
  .cover{ 
    width: 100%;
    height: calc((10/16)*100vw);
  } 
}  
 
@media screen and (max-width: 1020px) { 
  .cover{ 
    padding-top: 90px;
  } 
}  
 
@media screen and (max-width: 680px) { 
  .cover{  
    padding-top: 66px;
  } 
} 
 
 

 
 
