.cover__overlay{
  display: block;
  background-color: rgba(42, 44, 47, 1);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 30%;
  height: 740px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 92px;
  border: red solid 3px;
}

.cover__overlay:hover{
  opacity: 80%;
}

