.cover__overlay{
  background-color: rgba(42, 44, 47, 1);
  z-index: 2;
  opacity: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 740px;
  width: 100%;
  position: absolute;
  right: 0;
  /*top: 92px;*/
  background-size: cover;
  text-decoration: none;
}

/*.cover__overlay:hover{
  opacity: 80%;
}*/

@media screen and (max-width: 1184px) {
  .cover__overlay{
    min-height: 100%;
  }
} 

@media screen and (max-width: 1020px) {
  .cover__overlay{
    min-height: 480px;
    background-position: center;
    /*top: 90px;*/
    background-size: cover;
  }
} 

@media screen and (max-width: 680px) {
  .cover__overlay{
    min-height: 400px;
    background-position: center;
    /*top: 66px;*/
    background-size: cover;
  }
} 

@media screen and (max-width: 540px) {
  .cover__overlay{
    min-height: 200px;
    background-position: center;
    background-size: cover;
  }
} 

