.cover__overlay{
  background-color: rgba(42, 44, 47, 1);
  z-index: 1;
  opacity: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-size: cover;
  text-decoration: none;
}