.cover__background{
    background-image: url(../cover-trains.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 740px; 
    width: 100%;
    position: absolute;
    right: 0;
    top: 92px;
    display: block;
    border: green solid 5px;
    box-sizing: border-box;

    background-size: cover;
  }

  @media screen and (max-width: 1184px) {
    .cover__background{
      min-height: 640px;
      background-position: center;
    }
  } 

  @media screen and (max-width: 1020px) {
    .cover__background{
      min-height: 480px;
      background-position: center;
      top: 90px;
      background-size: cover;
    }
  } 
 
  @media screen and (max-width: 540px) {
    .cover__background{
      min-height: 200px;
      background-position: center;
      top: 66px;
      background-size: cover;
    }
  } 





