.cover__background{
  background-image: url(../cover-trains.jpg);
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 92px;
}

@media screen and (max-width: 1184px) {
  .cover__background{
    height: 640px;
  }
} 

@media screen and (max-width: 1125px) {
  .cover__background{
    height: 640px;
    


  }
} 

